* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Esto asegura que no haya márgenes o padding extra */
}
body {
  font-family: "Arial", sans-serif;
}
.main {
  background-color: rgb(36, 65, 107);
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; /* Ocupar toda la altura de la pantalla */
}

.header {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; /* Full height for the header section */
  overflow: hidden;
  padding-top: 2rem;
}

.giphyBackground {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 1; /* Place below textHeader */
  filter: brightness(0.5); /* Darken the GIFs */
}
.giphyBackground iframe {
  width: 100vw; /* Aseguramos que los iframes ocupen todo el ancho */
  border: none; /* Elimina el borde predeterminado */
  height: 34vh;
  scale: 1.5;
}
.textHeader {
  position: relative;
  z-index: 2; /* Ensure it stays above the GIFs */
  color: white;
  text-align: center;
}

.title {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 5px;
}

.description {
  font-size: 1.5rem;
}

.scrollDown {
  width: 40px; /* Adjust the size as needed */
  height: 40px;
  margin-top: 20px;
  margin-left: 50px;
  animation: bounce 2s infinite; /* Apply the animation */
}

@keyframes bounce {
  0%,
  100% {
    transform: translate(-50%, 0); /* Start and end at the same position */
  }
  50% {
    transform: translate(-50%, 10px); /* Move down by 10px */
  }
}
.roulette {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttonSpin {
  background-color: #a5aea2;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.buttonSpin:hover {
  background-color: #a5aea2;
}
.winningText {
  font-size: 1.5rem;
  color: #2c3e50;
  margin-top: 20px;
}

.subtitleRoulette {
  font-size: 1.2rem;
  color: #2c3e50;
  margin-bottom: 10px;
}
.titleRoulette {
  color: #2c3e50;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 3rem;
}

.containerText {
  background-color: white;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  text-align: justify;
  margin-top: 10px;
}

.textRoulette {
  color: #34495e;
  font-size: 14px;
}

.pointer {
  width: 50px;
  height: 50px;
}
.containerRoulette {
  background-color: #a5aea2;
  padding: 40px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-height: 100vh;
  min-width: 300px;
}
.imgTulio {
  width: 90vw; /* Adjust the size as needed */
  height: 50vh;
}
